# PostgreSQL Configuration
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_PORT=5432
POSTGRES_HOST=postgres

# Logical Databases
AIRFLOW_DB_NAME=airflow_db
STOCK_DB_NAME=stock_db

# Airflow Configuration
AIRFLOW_IMAGE_NAME=apache/airflow:2.8.1
AIRFLOW_UID=50000
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=admin

# Stock Pipeline Ingestion Settings
STOCK_TICKERS=AAPL,MSFT,GOOGL
FETCH_INTERVAL=daily
